<!DOCTYPE html>
<html lang="en">

<head>
    <title>Community CookBook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 80%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-3 col-very-top" id='primary1'></div>

            <div class="col-lg-4 col-sm-6 col-very-top" id='primary1' role='button'>

                <button role='link'>
                    <a href="{{ url_for('search') }}"> Recipe Search</a>
                </button>
                <button role='link'>
                    <a href="{{ url_for('index') }}"> Home</a>
                </button>
                <button role='link'>
                    <a href="{{ url_for('upload') }}"> Recipe Upload</a>
                </button>

                <div class='logo-box' id='primary2' role='img' aria-label="Site Logo">
                    <h2>CommunityCookBook.com</h2>
                    <img src="static/images/cookbook.JPG" alt="Logo" class="img-responsive logo-pic">
                </div>

            </div>

            <div class="col-lg-4 col-sm-3 col-very-top" id='primary1'>
                <p>
                <h1>Welcome!</h1>
                </p>
            </div>

        </div>
        <div>
            {% block content %}

            {% endblock %}
        </div>
        <div class='row'>
            <div class='col-sm-2 col-md-3 col-lg-4 col-bottom'></div>
            <div class='col-sm-8 col-md-6 col-lg-4 col-bottom' style='text-align: center;' role='button'>
                <button role='link'>
                    <a href="{{ url_for('index') }}"> Home</a>
                </button>
                <button role="link">About</button>
                <button role="link">Contact</button>
                <button role="link">Careers</button>
            </div>
            <div class='col-sm-2 col-md-3 col-lg-4 col-bottom'></div>
        </div>
    </div>
</body>

</html>