{% extends 'base.html' %}
{% block content %}

<div class='row'>
    <div class="col-lg-9 col-mid2" id='primary2'>
        <div class='white-box'>
            <div style='text-align: left;'>
                <button role='link'>
                    <a href="{{ url_for('search') }}"> Back to Search</a>
                </button>
            </div>
            <p>
            <h1>Cabbage Rolls</h1>
            </p>
            <div class="row">
                <div class=col-lg-4 role='img' aria-label="Recipe Image">
                    <img src="static/images/Cabbage_Rolls.jpg" alt="Cabbage Rolls" class="img-responsive">
                </div>
                <div class=col-lg-4 style="text-align: left; border-right: solid gray;">
                    <h2>Ingredients</h2>
                    <ul>
                        <li>Cabbage: 1 lb</li>
                        <li>Protein (your choice): 1/2 lb</li>
                        <li>Rice: 2 cups</li>
                    </ul>
                </div>
                <div class=col-lg-4 style="text-align: left;">
                    <h2>Details</h2>
                    <ul>
                        <li>Feeds: 4</li>
                        <li>Cook Time: 20 minutes</li>
                        <li>Tags: <u>Cabbage</u></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-mid2" id='primary2'>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="gray-box">
                        <p>Added 3/17/18<br> by Krazy4Kabbage12</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="gray-box" style="background-color: yellow;">
                        <p>3/5 Stars</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="white-box">
                        <button>
                            <p>Add to Cookbook</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="gray-box">
                        <p>
                        <h2>Leave Review</h2>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-lg-12 col-mid3" id="primary1">
        <div class="white-box">
            <h1 style="text-align: left; padding-left: 20px;">Reviews</h1>
            <ul style="text-align: left;">
                <li style="padding-left: 20px;">"This Tastes Just like Home! 5/5 stars"</li>
                <li style="padding-left: 20px;">These rolls are OK but need more flavor. 3/5 stars</li>
            </ul>
            <br>
            <button>
                <p>See More Reviews</p>
            </button>
        </div>

    </div>
</div>
{% endblock %}