{% extends 'base.html' %}
{% block content %}

<div class='row'>
    <div class="col-lg-9 col-mid2" id='primary2'>
        <div class='white-box'>
            <div style='text-align: left;'>
                <button role='link'>
                    <a href="{{ url_for('search') }}"> Back to Search</a>
                </button>
            </div>
            <p>
            <h1>{{ recipe["recipe_name"] }} </h1>
            </p>
            <div class="row">
                <div class=col-lg-4 role='img' aria-label="Recipe Image">
                    <img src={{ recipe["image_url"] }} class="img-responsive">
                </div>
                <div class=col-lg-4 style="text-align: left; border-right: solid gray;">
                    <h2>Ingredients</h2>
                    <table>
                        {% for i in ing %}
                            <tr>
                            {% if loop.index == 1 %}
                                {% for j in i %}
                                    <th>{{ j }} </th>
                                {% endfor %}
                            {% else %}
                                {% for j in i %}
                                    <td> {{ j }} </td>
                                {% endfor %}
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class=col-lg-4 style="text-align: left;">
                    <h2>How To Prepare</h2>
                    <table>
                        {% for i in instr %}
                            <tr>
                            {% if loop.index == 1 %}
                                {% for j in i %}
                                    <th>{{ j }} </th>
                                {% endfor %}
                            {% else %}
                                {% for j in i %}
                                    <td> {{ j }} </td>
                                {% endfor %}
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-mid2" id='primary2'>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="gray-box">
                        <p><h3>Added</h3> {{ recipe['created'].split(" ")[0] }}<br>
                           <h3>By </h3>{{ recipe["username"] }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="gray-box" style="background-color: yellow;">
                        <p><h3>Average Rating </h3>{{ meta["score"] }} / 5 Stars</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="white-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="gray-box">
                        <p>
                        <h2>Ad Space</h2>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-lg-12 col-mid3" id="primary1">
        <div class="white-box">
            <table>
                {% for i in rev %}
                    <tr>
                    {% if loop.index == 1 %}
                        {% for j in i %}
                            <th>{{ j }} </th>
                        {% endfor %}
                    {% else %}
                        {% for j in i %}
                            <td> {{ j }} </td>
                        {% endfor %}
                    {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <button>
                <p>Add Review</p>
            </button>
        </div>

    </div>
</div>
{% endblock %}